
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    /* border: solid rgb(0, 255, 55) */
}

img{
    height: 40px;
    width: 120px;
    /* border: solid #ff0000; */
}

.headline > h5{
    /* border: solid red; */
    margin-top: 7px;
}

.partners-progress{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    row-gap: 6px;


}

.card-details{
    display: flex;
    flex-direction: column;
    /* border: solid red; */
    padding: 2px;
    margin: 0px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: solid rgb(144, 0, 255) ; */
    column-gap: 5px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    font-size: smaller;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 2px;
}

.image{
    /* border: solid blue; */
    width: 60px;
    height: 60px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl0rLoMFLWEVGdIiykS1awSTF7yA3rB5C_eQ&s");
    background-size: cover;
    border-radius: 5px;;
}
.card-body{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    justify-content: center;
    padding:1px 0px 1px 0px;
    /* border: solid red; */
    .green{
        color: green;
        text-decoration: underline;
        margin-right: 1px;
    }
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}